#canvas-wrap { position:relative } /* Make this a positioned parent */

#overlay { 
    /* //position: absolute; 
    align-items: center; */
    /* top: 50%;  */
    /* left: 70%; 
    bottom: 8%;
    height: 60%; */
}

#door-pop {
  position: absolute;
  left: 7%;
  bottom: 80%;
  border-radius: 10px;
  
  width: 70px; 
  height: 40px; 
  background-color: rgb(21, 27, 29,.7);
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
}

#view-panel {
  position: absolute;
  left: 7%;
  bottom: 15%;
  border-radius: 10px;
  width: 200px; 
  height: 60px; 
  background-color: rgb(21, 27, 29,.7);
  display: flex;
  flex-direction: row;
}
.view-button {
  border-radius: 10px;
  background-color: #038da9;
  color: white;
  border: 1px solid #f4ca13;
  border-width: 0 0 4px;
  cursor: pointer;
}

#enter-room-button {
  background-color: #038da9;
  border-radius: 10px;
  border: 2px solid #f4ca13;
  border-width: 0 0 4px;
  padding: 2%;
  color: white;
}

.chat_input {
    background-color: rgb(21, 27, 29);
    opacity: 0.90;
    display: flex;
    flex-direction: row;
    width:auto;
    height: 10%;
    width: 100%;
    padding:5%;
    border: 0.5px solid #f8e385;
    border-radius: 10px;
}

.buttons{
    margin: 2%;
    appearance: button;
    background-color: #038da9;
    border: 1px solid #f4ca13;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: .9px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 30%;
}

 button:hover {
    filter: brightness(1.1);
}

.chat_messages {
    padding:10px;
    align-self: center;
    width:90%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
  }

.chatroom {
    position: absolute;
    left: 70%;
    bottom: 15%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.content {
    order:1;
    width: fit-content;
    block-size: fit-content;
    border: 1px solid #f4ca13;
    font-size: 16px;
    text-align: left;
    padding: 0 2% 0 2%;
    color: white;
  }
  .msg {
    opacity: 0.90;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .content.left {
    background-color: #fd98dd;
    border-radius: 0 10px 10px 10px;
    margin-left: 3%; 
    margin-right: auto;
  }
  .content.right {
    background-color: #038da9;
    border-radius: 10px 0 10px 10px;
    margin-left: auto; 
    margin-right: 3%;
  }
  .sys {
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
  }
  .time {
    order:3;
    color: #ede0a6;
    margin-top: 0;
  }
  .time.right {
    margin-left: auto; 
    margin-right: 3%;
  }
  .time.left {
    margin-right: auto;
    margin-left: 3%;
  }
  .time.system {
    align-self: center;
  }

  .user-name {
    order:0;
    color: white;
    margin-bottom: 0;
  }
  .user-name.right {
    margin-left: auto; 
    margin-right: 3%;
  }
  .user-name.left {
    margin-left: 3%; 
    margin-right: auto;
  }

  #msg-input {
    margin:2%;
    align-self: center;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 1px #f4ca13;
    background-color: rgb(245, 235, 251);
  }
  #msg-input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
.on-join-div {
  width: 50%;
  margin-top: 15%;
  margin-left: 24%;
  color:white;
  align-self: center;
}


.chat-input-join {
  align-self: center;

  /* border: 5px solid black; */
  border-radius: 10px;
  background-color: white;
  opacity: 0.90;
  display: flex;
  flex-direction: column;

  padding: 30px;
  padding-top: 0;
  
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}


#on-join-input-userName, #on-join-input-password, #on-signup-input-password,  #on-signup-input-userName {
  margin:2%;
  align-self: center;
  width: 300px;
  height: 30px;
  border-radius: 15px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#welcome-msg, #signup-msg {
  align-self: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

#welcome-msg {
  margin: 0;
}
.enter-pages {
  margin: auto;
  padding: 10px;
  background-color: rgb(25, 25, 25);
  width:100%;
  height:100%;
}

.on-join-div input {
  border: 1px solid black;
  background-color: rgb(224, 237, 249);
}

.on-join-div button {
  border: 1px solid black;
  background-color: rgb(111, 168, 248);
}

#signup-button-join {
  border:0;
  background-color: white;
  color: blue;
  text-decoration: underline;
  font-size: 12px;
} 

#choose-avatar-page {
  overflow: none;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  padding-top :5%;
  padding-left: 18%;
  font-family: sans-serif;
  color:white;
}
#choose-avatar {
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: row;
}
.character-buttons {
  border: 10px black;
}

#avatar-select-button {
  font-size: 10px;
  height: 50px;
  width:120px;
  font-family: sans-serif;
  background-color: rgb(182, 60, 231);
  margin-top: 18%;
  border: 0;
}